html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }


/* CONTAINERS WITH MAP AND FORM */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    height: 600px;
    width: 50%;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
        width: 100%;
    }
}