html {
    position: relative;
    min-height: 100vh;
    margin: 0;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Margin bottom by footer height */
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .custom-footer {
    margin-top: auto;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    /* background-color: #f5f5f5; */
    background: linear-gradient(to top, rgb(134, 134, 134), white);
  }


/* CONTAINERS WITH MAP AND FORM */
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
} */

/* .flex-container > div {
    margin: 5px 0px 15px 0px;
    height: 600px;
    width: 50%;
} */

/* @media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
      margin-right: 10px;  
      width: 100%;
    }
} */


/* New header styles */
nav {
  background: linear-gradient(90deg, #4a6fb3, #4a9278);
  background-size: 400% 400%;
  
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  animation: colorShift 10s ease infinite;
}

@keyframes colorShift{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}