html {
    position: relative;
    min-height: 100vh;
    margin: 0;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Margin bottom by footer height */
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .custom-footer {
    margin-top: auto;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    /* background-color: #f5f5f5; */
    background: linear-gradient(to top, rgb(134, 134, 134), white);
  }

  .form-container {
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(165, 165, 165);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.map-container {
    padding: 15px
}
#map {
    height: 82vh;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(165, 165, 165);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    position: relative;
}
#controls {
    margin: 10px 0;
}
.filter-container {
    position: absolute;
    top: 90px; /* Adjust as needed */
    left: 72%;
    /*transform: translateX(-50%);  Centers the form horizontally */
    z-index: 1000; /* Ensures the form appears above the map */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    width: 25.85vw;
}
#search-message-container {
    position: absolute;
    top: 90px; /* Center vertically */
    left: 47%; /* Center horizontally */
    z-index: 1000;
    width: 500px; /* Adjust width as needed */
    /* background-color: brown; */
    /* height: 10px; Adjust height as needed */
    margin-top: 30px;
    transform: translate(-50%, -50%); /* Adjust position to truly center based on its own size */
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@media (max-width: 768px) {
    .filter-container {
        width: 100%;
        position: static;
    }
    #search-message-container {
        width: 300px;
    }
}
/* CONTAINERS WITH MAP AND FORM */
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
} */

/* .flex-container > div {
    margin: 5px 0px 15px 0px;
    height: 600px;
    width: 50%;
} */

/* @media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container > div {
      margin-right: 10px;  
      width: 100%;
    }
} */


/* New header styles */
nav {
  background: linear-gradient(90deg, #4a6fb3, #4a9278);
  background-size: 400% 400%;
  
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  animation: colorShift 10s ease infinite;
}

@keyframes colorShift{
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}